@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-inter;
  }
}

.cta-button {
  @apply rounded-md bg-primary p-3 text-lg font-semibold transition-all duration-200 hover:bg-green-600;
}
